/*内容区域*/
div.main-container{
	margin: 0 auto;
	height: auto;
	width: 650px;
	margin-top: 45px;
	background-color: white;
	border:10px solid white;
	box-shadow: 0 0 5px #fff;
}
body{
	background-color: rgba(207 ,207 ,207,.35);
}



/*左边内容区域*/
div.question-area{
	width: 632px;
	height: auto;
	margin: 0 auto;
}
div.to-do-list{
	width: 632px;
	height: 50px;
}
img.con-user-icon{
	float: left;
	width: 38px;
	height: 38px;
}
img.img-function-list{
	width: 15px;
	height: 15px;
	position: relative;
	top: 2px;
}
a.a-function-list{
	font-size: 15px;
	text-decoration: none;
	color: #6c829f;
	text-align: center;
	line-height: 50px;
	display: inline-block;
	cursor: pointer;
}
a.a-function-list:hover{
	color: #259;
}
ul.user-function-list{
	float:  left;
	width: 574px;
	height: 100%;
	background: #fafafa;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    margin-left: 15px;
}
li.function-list{
	float: left;
	width: 115px;
	height: auto;
	text-align: center;
}
div.a_question{
	border-top: 1px solid #ccc;
	width: 100%;
	height: 150px;
}
a.iq_question_title{
	font-size: 25px;
	font-weight: 700;
	color: #259;
	margin-top: 8px;
	display: inline-block;
	text-decoration: none;
}
a.iq_question_author{
	font-size: 15px;
	color: #999999;
	margin-top: 2px;
	margin-bottom: 8px;
	text-indent: 15px;
	display: inline-block;
	text-decoration: none;
}
a.iq_question_title:hover,a.iq_question_author:hover{
	text-decoration: underline;
}
div.iq_ques_content{
	font-size: 17px;
	text-indent: 10px;
}


/*右边侧边栏*/



/*也许会有*/

/*问题显示*/
div.news-area-header{
	height: 30px;
	width:100%;
	font-size: 20px;
	line-height: 30px;
	color: #666;
	margin-top: 20px;
}
img.news-img{
	width: 22px;
	height: 22px;
	position: relative;
	top: 2px;
}

/*提问区域*/
div.hide-area{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left:0;
	background-color: rgba(0,0,0,0.2);
	z-index: 101;
	display: none;
}
div.hide-area-container{
	width: 550px;
	height: 400px;
	background-color: white;
	position: relative;
	top: 50%;
	margin: 0 auto;
	margin-top: -275px;
	border-radius: 8px;
    border: 1px solid #888;
    box-shadow: 0 0 80px 0 rgba(0,0,0,.4);
}
div.hide-area-header{
	background: linear-gradient(to bottom,#1D7FE2,#0865C2);
    background-image: linear-gradient(rgb(29, 127, 226), rgb(8, 101, 194));
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 1px 0 rgba(255,255,255,.1) inset, 0 1px 1px rgba(0,0,0,.2);
    font-size: 14px;
    color: white;
	text-indent: 15px;
}
button.header-off-btn{
	float: right;
	text-decoration: none;
	background-image: url('../image/关闭.svg');
	background-size: contain;
	width: 25px;
	height: 25px;
	background-color: transparent;
	border: none;
	margin-right: 10px;
	margin-top: 8px;
	cursor: pointer;
}
/*提问输入框*/
div.ask-question-area{
	width: 450px;
	height: 360px;
	margin: 0 auto;
}
div.ques-title{
    font-size: 13px;
    line-height: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #ccc;
    color: #222;
    text-align: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 8px;
}
textarea.ques-title{
	line-height: 40px;
	height: 100%;
	text-indent: 15px;
}
div.ques-content{
	padding:10px 15px 10px 15px;
	font-size: 13px;
    line-height: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #ccc;
    color: #222;
    text-align: left;
    width: 94%;
    height: 110px;
    overflow: hidden;
}
textarea.ques-content{
	line-height: 20px;
	height: 100%;
}
div.ques-warning{
	font-size: 13px;
	line-height: 22px;
	margin-top: 15px;
}
input.ques-submit{
	float: right;
	margin-top: 15px;
	width: 40px;
	height: 30px;
	background: linear-gradient(to bottom,#0e7bef,#0d73da);
    background-image: linear-gradient(rgb(14, 123, 239), rgb(13, 115, 218));
    border:none;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05), inset 0 1px 1px rgba(255,255,255,.15);
    cursor: pointer;
}




