*{
	font-family: "黑体";
}
body{
	margin: 0;
	padding: 0;
}
div.register,div.login{
	height:160px;
	width: 300px;
	margin: 0 auto;
	line-height: 30px;
	text-align: center;
}
div.register{
	display: block;
}
div.login{
	display: none;
}
#username, #password{
	width: 100%;
	height: 50px;
	border-width: 1px;
	border-style: solid;
	text-indent: 5px;
}
input#username{
	border-radius: 3px 3px 0 0; 
}
input#password{
	border-radius: 0 0 3px 3px;
	border-top: none;
}
div.reg-log{
	width: 300px;
	height: 36px;
	text-align: center;
	margin: 0 auto;
}
a#reg,a#log{
	width: 72px;
	height: 36px;
	border: none;
	font-size: 18px;
	line-height: 36px;
	cursor: pointer;
	text-decoration: none;
}
a#reg{
	border-bottom:2px solid #0f88eb;
	color: #0f88eb;
	margin-right: 5px;
}
button.reg-log-submit{
	margin-top: 8px;
	border-radius: 0.3em;
	width: 300px;
	height: 40px;
	background-color: #0f88eb;
	color: white;
	border: none;
	font-size: 20px;
	cursor: pointer;
}

div.container{
	width: 400px;
	height: 500px;
	margin: 0 auto;
	margin-top: 100px;
	position: absolute;
	z-index: 2;
	margin-left: 50%;
	left: -200px;
}


div.header{
	width: 300px;
	height: 130px;
	margin: 0 auto;
}
h1#logo-zhihu{
	background-image: url("../image/zhihu-logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 160px;
	height: 74px;
	margin: 0 auto;
}
h2#sub-title{
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	margin-top: 16px;
	color: #555;
}
div.copyright{
	position: fixed;
	z-index: 2;
	width: 100%;
	height: auto;
	color: black;
	bottom: 0;
	text-align: center;
}
div#particles-js{
	position: relative;
	z-index: 0;
}