div.userInfo-header{
	margin: 0 auto;
	width: 900px;
	margin-top: 60px;
	box-shadow: 0 0 5px rgba(0,37,55,.15) ;
    box-sizing: border-box;
}
div.userInfoHeaderBGimg{
	width: 100%;
	height: 160px;
	background-color: #96a1a9;
}
div.userInfoArea{
	width: 100%;
	height: 180px;
}
div.userInfoIcon{
	border:2px solid #fff;
	height: 160px;
	width: 160px;
	margin-left: 30px;
	position: relative;
	top: -30px;
	display: inline-block;
	float: left;
}
img.userInfoIcon{
	width: 160px;
	height: 160px;
	box-shadow: 0 0 5px rgba(0,37,55,.05);
}
div.userInfoDetails{
	float: left;
}
div.userInfoDetailsName{
	margin:5px 0 0 20px;
	display: inline-block;
	float: left;
}
div.userInfoDetailsName span{
	font-size: 30px;
	line-height: 36px;
	font-weight: 500;
	color: #259;
}
span.userInfoDetailsDescribe{
	font-size: 14px;
	margin-left: 16px;
	margin-top: 18px;
	float: left;
}

/*用户动态*/
div.userInfoAnimate{
	margin: 0 auto;
	width: 900px;
	margin-top: 30px;
	box-shadow: 0 0 5px rgba(0,37,55,.15) ;
    box-sizing: border-box;
}
div.userInfoAnimateChangeHeader{
	width: 900px;
	height: 60px;
}
ul.userInfoAnimate{
	height: 60px;
	display: block;
	margin-left: 15px;
}
ul.userInfoAnimate li a{
	display: block;
	height: 60px;
	line-height: 60px;
	font-size: 22px;
	margin-left: 15px;
	margin-right: 20px;
	cursor: pointer;
	color: #259;
}
ul.userInfoAnimate li a:hover{
	border-bottom: 4px solid #259;
}
span.CountAnswers,
span.CountQuestions{
	background-color: #259;
	height:22px; 
	width:20px;
	display: inline-block;
	color: white;
	font-size: 13px;
	line-height: 22px;
	text-align:center;
	border-radius: 4px;
}

/*单个回答*/
div.userInfoAnimateOne{
	margin:0 auto;
	width: 900px;
	box-shadow: 0 0 3px rgba(0,37,55,.1);
	margin-top: 15px;
}
span.userInfoAnimateHeader{
	font-size: 20px;
	line-height: 1.6;
	font-weight: 400;
	margin-left: 15px;
}
span.userInfoAnimateHeader a{
	text-decoration: none;
	color: #0f88eb;
}
div.userInfoAnimateContent{
	font-size: 15px;
	line-height: 27px;
	width: 90%;
	margin: 0 auto;
}

/* 回答大div*/
div.answerContainer{
	width: 900px;
	margin:0 auto;
	margin-bottom: 60px;
	display: block;
}

/* 提问大div*/
div.questionContainer{
	width: 900px;
	margin: 0 auto;
	margin-bottom: 60px;
	display: none;
}
div#a{
	font-size: 18px;
	line-height: 2.6;
	font-weight: 400;
	text-indent: 15px;
}
div#a a{
	text-decoration: none;
	color: #0f88eb;
}

#on{
	border-bottom: 4px solid #259;
}
